body {
	font-family: 'Lato', sans-serif;
	width: 100%;
}

hr {
    border: none;
    margin-top: 5px;
    height: 2px;
    background-color: #616161; /* Modern Browsers */
}

.main-color {
	color: #6A1B9A;
}

.menu {
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
}

a {
	color: #6A1B9A;
}

a:hover {
	font-style: underline;
	color: #6A1B9A;
}